.meinContents {
  display: flex;
  flex-direction: column;
  width: 90vw;
  gap: 12px;
}

.rightContents {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.imageBox {
  width: 90%;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0 auto;
}

.text {
  font-size: 24px;
  font-weight: bold;
  padding: 10px 0 10px 5%;
}

.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.likesStatus {
  display: flex;
  justify-content: space-between;
}

.likeCountContainer {
  display: flex;
  align-items: center;
}

.hotText {
  font-size: 24px;
  font-weight: bold;
}

.likeCount {
  font-size: 16px;
  font-weight: bold;
}
