.container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(97.4deg, #f84f90 0%, #ed4b4b 100%);
  color: #ffffff;
  font-weight: bold;
  border-radius: 10px;
  padding: 4px 8px;
  gap: 4px;
  width: 130px;
  overflow: hidden;
}

.title {
  text-align: left;
  font-size: 16px;
}

.ranking {
  font-size: 56px;
  margin-top: -16px;
  margin-bottom: -16px;
  text-align: center;
}

.imgContainer {
  position: absolute;
  z-index: 0;
  bottom: 240px;
  left: -50px;
  transform: scale(0.5);
}

.bottom {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: none;
}
