.signStyle {
  font-family: "Noto Sans JP", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: medium;
  width: 70%;
  // justify-content: center;
}

.signInForm {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
}

.createAccount {
  margin-top: 30px;
  font-size: 30px;
  text-align: center;
}

.signInCard {
  margin-top: 40px;
}
.signInButton {
  margin-top: 60px;
}
.signUpCard {
  margin-top: 10px;
}
.signUpButton {
  margin-top: 30px;
}
