@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&display=swap");

.profile {
    width: 90%;
    overflow: scroll;
}

::-webkit-scrollbar {
  display: none;
}


.upper {
  display: flex;
  margin-right: auto;
  margin-left: 30px;

  .title {
    font-size: 35px;
    color: #415465;
    font-family: "Noto Sans JP", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
  }
}

.friendsList {
    overflow: auto;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    .img{
        width: 180px;
        // position: fixed;
    }
  }
  

