@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,800&family=Noto+Sans+JP:wght@100..900&display=swap");

.modalOverlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 40; 
}
.title {
  position: absolute;
  top: 100px;
  width: 100%;
}
.explanation {
  position: relative;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin-top: 20px;
  color: white;
}
.explanationHello {
  font-family: "Noto Sans JP", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.sign {
  position: absolute;
  z-index: 20;
  top: 400px;
  width: 100%;
}
.signIn {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  margin-top:20px;
}
.signUp {
  display: flex;
  top: 10px;
  position: relative;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
}
.form{
  position: relative;
  z-index: 50;
}
