@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,800&family=Noto+Sans+JP:wght@100..900&display=swap");

.explanation {
  position: relative;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin-top: 20px;
  color: white;
}
.explanation-hello {
  font-family: "Noto Sans JP", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.sign-in {
  display: flex;
  top:230px;
  text-alighn: center;
  position:absolute;
  z-index:30;
  justify-content:center;
  margin:0 auto;
  width:100%;

}
.sign-out {
  display: flex;
  top:65px;
  position:relative;
  justify-content: center;
  z-index:30;
  margin:0 auto;
  width:100%;
}
