@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.title{
  position:absolute;
  z-index: 20;
  width: 100%;
}

.hottospot {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 60px;
  color: white;
  position:absolute;
  z-index: 40;
  width: 100%;
}
